* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px; /* Add padding for mobile */
}
body {
  font-family: "Roboto", arial, sans-serif;
}
.header {
  background-color: #a2fdd3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header.logo img {
  max-width: 100px;
  height: auto;
}
.details {
  flex: 1;
  text-align: center;
  font-size: 14px;
}
.admin-btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.admin-btn:hover {
  background-color: #555;
}
.banner {
  text-align: center;
  padding: 40px 20px;
  background-color: #f4f4f9;
}
.banner h1 {
  font-size: 24px;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nav a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav a:hover {
  color: #0056b3;
  text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-section {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
}
.content-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}
.content-section p,
.content-section ol {
  margin-bottom: 10px;
  font-size: 14px;
}

.download-btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.download-btn:hover {
  background-color: #0056b3;
}
@media (max-width: 576px) {
  body {
    background-color: aqua;
  }
}

.admin-btn {
  margin-top: 10px;
}
.nav {
  flex-wrap: wrap;
}
.content-section {
  margin: 10px;
  padding: 15px;
}
.banner h1 {
  font-size: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 204, 255);
  color: white;
  text-align: center;
}
